.card{
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 175px;
    font-size: 12px;
    position: relative;
}

.card--image{
    width: 100%;
    border-radius: 9px;
}

.card--stats{
    display: flex;
    align-items: center;
    margin-block-start: 9px;
}

.card--star{
    height: 14px;
}

.gray{
    color: #918E9B;
}

.bold{
    font-weight: bold;
}

.card--p{
    margin-block-end: 0;
}

.card--badge {
    position: absolute;
    top: 25px;
    left: 25px;
    height: 20px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 10px;
}